header {
  max-width: 1200px;
  margin-inline: auto;
height: 300px;
padding: 20px;
display:flex;
justify-content: space-between;
flex-direction: column;
.topnav{
    display: flex;
    justify-content:space-between;
    align-content:center;
    nav{
      ul{
        display:flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        gap:15px;
        
      }
    }
    
}
h1{
  width:40%;
  font-size: 40px;
  text-transform: uppercase;
}
  }
  main{
    padding-block-end: 100px;
    width:100%;
    max-width:1200px;
    margin-inline: auto;
    .home__body{
      display:flex;
      flex-direction: column;
      .card{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:50px;
        &:nth-child(even){
          direction: rtl;
        }
        .content{
          width:60%;
          display: flex;
          flex-direction: column;
          align-content: center;
        }
      }
    }
  }
  footer{
    background-color: #333;
    color:#fff;
    padding: 10px;
    text-align: center;
  }
  .about{
    margin-block-end: 100px;
    max-width: 1200px;
    margin-inline: auto;
    padding-block-start: 50px;
    h3{
      margin-block: 20px;
      text-transform: uppercase;
    }
  }
  .events__page{
    max-width: 1200px;
    margin-inline: auto;
    padding:100px 50px;
    display: flex;
    justify-content: space-between;
    gap:20px;
    .events__card{
      position: relative;
      h2{
        position: absolute;
        top:50%;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 38px;
      }
    }
  }
  .cat__events{
    padding: 100px 50px;
    max-width: 1200px;
    margin-inline: auto;
    h1{
      padding: 10px;
      text-align: center;
      text-transform: uppercase;
    }
    .content{
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap:20px;
      .cat__card{
        display: flex;
        flex-direction: column;
        width: 30%;
      }
    }
  }
  .cat__final{
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
    .email__registration{
      padding-block-start: 20px;
      label{
        display: flex;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 800;
        margin-block-end: 15px;
      }
      input{
        height:40px;
        box-shadow:none;
        min-width:350px;
        border-radius:5px;
        font-size:16px;
      }
      button{
        border-radius: 5px;
        height:40px;
        min-width:150px;
        margin-block-start: 10px;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }